<div class="col margin-t-16">
    <div class="row">
        <div class="col-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>HTC Global Services - State of Michigan</mat-card-title>
                    <mat-card-subtitle>Department of Health and Human Services</mat-card-subtitle>
                    <mat-card-subtitle>February 2022 - August 2023</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <ul>
                        <li>Design & develop (Coding, Review, Unit testing, debugging and deployment and Operations and
                            Support) and maintain web applications. </li>
                        <li>Rewrite existing screens with new designs provided in FIGMA using Angular 13, PrimeNg,
                            Primeflex,
                            Bootstrap.</li>
                        <li>Customizing the PrimeNg library as per the design requirements and generating a .tgz library
                            file for
                            maintaining it in the same repository.</li>
                        <li>
                            Responsible for design and development of complex multi nested modules and maintaining the
                            app
                            performance.
                        </li>
                        <li>Maintain the design system with respect to WCAG 2 level AA conformance.</li>
                        <li>Maintain the application responsiveness for all device types and browser types.</li>
                        <li>Collaborated with cross-functional teams to implement RESTful APIs and ensure seamless
                            frontend system integration.</li>
                        <li>Developing complex reactive forms for claim submission forms with custom validations.</li>
                        <li>Maintain code sanity and perform code reviews of other developers in the team.</li>
                        <li>Build applications to enhance and improve functionality of the application by applying CI/CD
                            techniques and versioning to have a stable environment across applications.</li>
                        <li>Analyze and troubleshoot production issues and provide immediate fixes.</li>
                        <li>Created reusable components, custom directives, to keep the functional flow consistent
                            across the application.</li>
                        <li>Responsible for creating custom validators based on the definitive parameters set by Product
                            owner for reusability across the application</li>
                        <li>Responsible for creating dynamic reactive forms that can be commonly used across the
                            application.</li>
                        <li>Recommend changes to improve established application processes.</li>
                        <li>Continuously work with stakeholders to understand the business problems, analyze the problem
                            and develop hypotheses to provide solutions to the business problem.</li>
                        <li>Work with the client team to get clarity on the backlog. Prioritize the backlog and track to
                            a closure.</li>
                        <li>Design and develop RESTful web services.</li>
                        <li>Design and build a single-page web application with public and secured access flow.</li>
                        <li>Create page routes, responses and UI layouts for application usability to support the
                            application user journey across applications.</li>
                        <li>Create, develop, and manage serverless-based rich UI- Web/ to have the best UI experience
                            for the end Users and Work with Git version control.</li>
                        <li>Develop complex POC and demo it to the Product Owner for understanding the depth of
                            functionality and business logic involved.</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    Environment: HTML, HTML5, CSS3, Typescript, JSON, Angular 13, Java, Azure DevOps for tracking
                    stories
                    and deployment processes, GIT, Bootstrap, PrimeNg, , JSON, ADO, Agile.
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>