@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.bg-body-tertiary {
    background-color: #193036 !important;

    h1,
    a,
    ul>li {
        color: white;
    }
}

.intro {
    color: white;
}

.title {
    color: white;
}

.brief {
    color: white;
}

.profile-image {
    background-color: #212529;
    border-radius: 100px;
    height: 10em;
    width: 10em;
}

@include media-breakpoint-up(sm) {
    .profile-image {
        border-radius: 100px;
        height: 10em;
        width: 10em;
        padding: 0px;
    }
}

@include media-breakpoint-up(lg) {
    .profile-image {
        border-radius: 43% 50% 46% 0%/43% 50% 46% 0%;
        height: 17em;
        width: 17em;
    }
}



// @include media-breakpoint-only(lg) {}

// @include media-breakpoint-only(xl) {}

// @include media-breakpoint-only(xxl) {}