.margin-0 {
    margin: 0px !important
}

.margin-8 {
    margin: 8px !important
}

.margin-16 {
    margin: 16px !important
}

.margin-24 {
    margin: 24px !important
}

.margin-32 {
    margin: 32px !important
}

.margin-40 {
    margin: 40px !important
}

.margin-48 {
    margin: 48px !important
}

.margin-56 {
    margin: 56px !important
}

.margin-64 {
    margin: 64px !important
}

.margin-72 {
    margin: 72px !important
}

.margin-t-0 {
    margin-top: 0px !important
}

.margin-t-8 {
    margin-top: 8px !important
}

.margin-t-16 {
    margin-top: 16px !important
}

.margin-t-24 {
    margin-top: 24px !important
}

.margin-t-32 {
    margin-top: 32px !important
}

.margin-t-40 {
    margin-top: 40px !important
}

.margin-t-48 {
    margin-top: 48px !important
}

.margin-t-56 {
    margin-top: 56px !important
}

.margin-t-64 {
    margin-top: 64px !important
}

.margin-t-72 {
    margin-top: 72px !important
}

.margin-r-0 {
    margin-right: 0px !important
}

.margin-r-8 {
    margin-right: 8px !important
}

.margin-r-16 {
    margin-right: 16px !important
}

.margin-r-24 {
    margin-right: 24px !important
}

.margin-r-32 {
    margin-right: 32px !important
}

.margin-r-40 {
    margin-right: 40px !important
}

.margin-r-48 {
    margin-right: 48px !important
}

.margin-r-56 {
    margin-right: 56px !important
}

.margin-r-64 {
    margin-right: 64px !important
}

.margin-r-72 {
    margin-right: 72px !important
}

.margin-b-0 {
    margin-bottom: 0px !important
}

.margin-b-8 {
    margin-bottom: 8px !important
}

.margin-b-16 {
    margin-bottom: 16px !important
}

.margin-b-24 {
    margin-bottom: 24px !important
}

.margin-b-32 {
    margin-bottom: 32px !important
}

.margin-b-40 {
    margin-bottom: 40px !important
}

.margin-b-48 {
    margin-bottom: 48px !important
}

.margin-b-56 {
    margin-bottom: 56px !important
}

.margin-b-64 {
    margin-bottom: 64px !important
}

.margin-b-72 {
    margin-bottom: 72px !important
}

.margin-l-0 {
    margin-left: 0px !important
}

.margin-l-8 {
    margin-left: 8px !important
}

.margin-l-16 {
    margin-left: 16px !important
}

.margin-l-24 {
    margin-left: 24px !important
}

.margin-l-32 {
    margin-left: 32px !important
}

.margin-l-40 {
    margin-left: 40px !important
}

.margin-l-48 {
    margin-left: 48px !important
}

.margin-l-56 {
    margin-left: 56px !important
}

.margin-l-72 {
    margin-left: 72px !important
}

.margin-l-64 {
    margin-left: 64px !important
}