.padding-0 {
    padding: 0px !important
}

.padding-8 {
    padding: 8px !important
}

.padding-16 {
    padding: 16px !important
}

.padding-24 {
    padding: 24px !important
}

.padding-32 {
    padding: 32px !important
}

.padding-40 {
    padding: 40px !important
}

.padding-48 {
    padding: 48px !important
}

.padding-56 {
    padding: 56px !important
}

.padding-64 {
    padding: 64px !important
}

.padding-72 {
    padding: 72px !important
}

.padding-t-0 {
    padding-top: 0px !important
}

.padding-t-8 {
    padding-top: 8px !important
}

.padding-t-16 {
    padding-top: 16px !important
}

.padding-t-24 {
    padding-top: 24px !important
}

.padding-t-32 {
    padding-top: 32px !important
}

.padding-t-40 {
    padding-top: 40px !important
}

.padding-t-48 {
    padding-top: 48px !important
}

.padding-t-56 {
    padding-top: 56px !important
}

.padding-t-64 {
    padding-top: 64px !important
}

.padding-t-72 {
    padding-top: 72px !important
}

.padding-r-0 {
    padding-right: 0px !important
}

.padding-r-8 {
    padding-right: 8px !important
}

.padding-r-16 {
    padding-right: 16px !important
}

.padding-r-24 {
    padding-right: 24px !important
}

.padding-r-32 {
    padding-right: 32px !important
}

.padding-r-40 {
    padding-right: 40px !important
}

.padding-r-48 {
    padding-right: 48px !important
}

.padding-r-56 {
    padding-right: 56px !important
}

.padding-r-64 {
    padding-right: 64px !important
}

.padding-r-72 {
    padding-right: 72px !important
}

.padding-b-0 {
    padding-bottom: 0px !important
}

.padding-b-8 {
    padding-bottom: 8px !important
}

.padding-b-16 {
    padding-bottom: 16px !important
}

.padding-b-24 {
    padding-bottom: 24px !important
}

.padding-b-32 {
    padding-bottom: 32px !important
}

.padding-b-40 {
    padding-bottom: 40px !important
}

.padding-b-48 {
    padding-bottom: 48px !important
}

.padding-b-56 {
    padding-bottom: 56px !important
}

.padding-b-64 {
    padding-bottom: 64px !important
}

.padding-b-72 {
    padding-bottom: 72px !important
}

.padding-l-0 {
    padding-left: 0px !important
}

.padding-l-8 {
    padding-left: 8px !important
}

.padding-l-16 {
    padding-left: 16px !important
}

.padding-l-24 {
    padding-left: 24px !important
}

.padding-l-32 {
    padding-left: 32px !important
}

.padding-l-40 {
    padding-left: 40px !important
}

.padding-l-48 {
    padding-left: 48px !important
}

.padding-l-56 {
    padding-left: 56px !important
}

.padding-l-72 {
    padding-left: 72px !important
}

.padding-l-64 {
    padding-left: 64px !important
}