// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// @use './../node_modules/@angular//material/button-toggle/button-toggle-theme' as buttonToggle;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$spf-palette: (
  100: #A75A5A,
  300: #2C5969,
  900: #004e68,
);

$spf-one: (
  50:#004e68,
  100:#004e68,
  200:#004e68,
  300:#004e68,
  400:#004e68,
  500:#004e68,
  600:#004e68,
  700:#004e68,
  800:#004e68,
  900:#004e68,
  A100:#004e68,
  A200:#004e68,
  A400:#004e68,
  A700:#004e68,
  contrast: (50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$spf-two: (
  50:#2C5969,
  100:#2C5969,
  200:#2C5969,
  300:#2C5969,
  400:#2C5969,
  500:#2C5969,
  600:#2C5969,
  700:#2C5969,
  800:#2C5969,
  900:#2C5969,
  A100:#2C5969,
  A200:#2C5969,
  A400:#2C5969,
  A700:#2C5969,
  contrast: (50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$spf-warn: (
  50:#A75A5A,
  100:#A75A5A,
  200:#A75A5A,
  300:#A75A5A,
  400:#A75A5A,
  500:#A75A5A,
  600:#A75A5A,
  700:#A75A5A,
  800:#A75A5A,
  900:#A75A5A,
  A100:#A75A5A,
  A200:#A75A5A,
  A400:#A75A5A,
  A700:#A75A5A,
  contrast: (50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$srinivas-portfolio-primary: mat.define-palette($spf-one);
$srinivas-portfolio-accent: mat.define-palette($spf-two, A200, A100, A400);
$srinivas-portfolio-warn: mat.define-palette($spf-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$srinivas-portfolio-theme: mat.define-light-theme((color: (primary: $srinivas-portfolio-primary,
        accent: $srinivas-portfolio-accent,
        warn: $srinivas-portfolio-warn,
      )));

// @mixin mix-app-theme($srinivas-portfolio-theme) {
//   $primary: map-get($srinivas-portfolio-theme, primary);
//   $accent: map-get($srinivas-portfolio-theme, accent);

//   .mat-button-toggle {
//     background-color: mat-color($primary);
//     color: mat-color($primary, default-contrast);
//   }

//   .mat-button-toggle-checked {
//     background-color: mat-color($accent);
//     color: mat-color($accent, default-contrast);
//   }
// }

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($srinivas-portfolio-theme);
// @include buttonToggle.theme($srinivas-portfolio-theme);
@import './styles/margin.scss';
@import './styles/padding.scss';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #212529 !important
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  color: #FFFFFF;
}

.mat-button-toggle-label-content {
  line-height: 38px !important;
}

.mat-button-toggle-group {
  width: 100%;
  justify-content: space-between;
  border: unset;
}

.mat-button-toggle {
  border-radius: 7px;
  border-left: 0px !important;
  background: rgba(31, 77, 102, 0);
  color: #5a7683;
  border: 1px solid #1f4d66;
}

.mat-mdc-raised-button {
  margin-top: 7px !important;
  margin-bottom: 7px !important;

}

// .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle